{%  extends 'base.html.twig' %}

{%  block title property.title %}

{%  block body %}
    <div class="jumbotron"> 
   <div class="container">

    {% for message in app.flashes('success') %}

    <div class="alert alert-success">
    {{message}}
    </div>
    {% endfor %}


    {% if not form.vars.valid  %}
 <div class="alert alert-danger">
    Erreur lors de l' envoie 
    </div>

{% endif %}


        <div class="row">

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  {% if property.filename %}
<img src="{{vich_uploader_asset(property , 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" />
  {% else %}
  <img src= " {{'/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" />
  {% endif %}
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pieces - {{ property.surface }} m2</h2>
                <div class="text-primary" style="font-size: 4em; font-weight:bold;">{{ property.formatedPrice }} €</div>
                <a href="#" class="btn btn-primary" id="contactButton" {% if form.vars.submitted %} style="display:none" {% endif %}>contactez  l' agence</a>

                <div id="contactForm" class="mt-4" {% if not form.vars.submitted %} style="display:none" {% endif %}>
                {{ form_start(form) }}
                <div class="row">
                <div class="col">{{ form_row(form.firstName) }}</div>
                <div class="col">{{ form_row(form.lastName) }}</div>
                </div>
                       <div class="row">
                <div class="col">{{ form_row(form.email) }}</div>
                <div class="col">{{ form_row(form.phone) }}</div>
         </div>
                
                {{ form_rest(form) }}
                <div class="form-group">
                  <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
      </div>
            </div>
        </div>
        </div>
        </div>
       


<div class="container mt-4">
        <p>
            {{ property.description | nl2br}}
        </p>
        </div>
<div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
<h2>Caractéristique</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Étages</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
<h2>Spécificité</h2>

<ul class="list-group">
  {% for option in property.MoreOptions %}
<li class="list-group-item">{{option.name}}
  {% endfor %}
</ul>
            </div>
        </div>

    </div>
    </div>

{% endblock %}

