{%  extends 'base.html.twig' %}

{%  block title property.title %}

{%  block body %}
    <div class="container mt-4">
   .
        <div class="row">

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pieces - {{ property.surface }} m2</h2>
                <div class="text-primary" style="font-size: 4em; font-weight:bold;">{{ property.formatedPrice }} €</div>
                <a href="#" class="btn btn-primary">contactez  l' agence</a>
            </div>
        </div>

        <p>
            {{ property.description | nl2br}}
        </p>

        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
<h2>Caractéristique</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Étages</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
<h2>Spécificité</h2>
            </div>
        </div>

    </div>

{% endblock %}

